* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/waves.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#check {
    display: none;
}
.icons {
    position: absolute;
    right: 15%;
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
}
.navbar{
    width: 100%;
    margin: auto;
    background: #b3d4f4f7;
    display: flex;
    justify-content: flex-end;
}
.navbar ul {
    list-style: none;
}
.navbar ul li {
    display: inline-block;
    position: relative;
}
.navbar ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.15rem;
    padding: 20px 25px;
}
.navbar ul li ul .dropdown {
    width: 100%;
    background: #b3d4f4f7;
    position: absolute;
    z-index: 999;
    display: none;
}
.navbar ul li ul .dropdown li {
    display: block;
}
.navbar ul li a:hover {
    background: #435567c9;
}
.navbar ul li:hover ul .dropdown {
    display: block;
}
.content {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 70px;
    margin-top: 80px;
}
.content h3 {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

@media (max-width: 768px) {
    .header {
        padding: 1.3rem 5%;
        background: #b3d4f4;
    }
    .icons {
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon {
        display: none;
    }
    .icons #close-icon {
        display: none;
    }
    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #719bc4;
        /* overflow: hidden; */
        transition: .3s ease;
    }
    #check:checked~.navbar {
        height: 17.7rem;
    }
    .navbar ul {
        top: 100%;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }
    #check:checked~.navbar ul {
        margin: 0px 40px 0px 0px;
        padding: 0;
    }
    .navbar ul li {
        list-style: none;
        display: none;
        flex-direction: column;
        /* margin: 0 20px; */
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .3s ease;
    }
    #check:checked~.navbar ul li {
        display: flex;
        flex-direction: column;
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }
    .navbar ul li ul .dropdown {
        width: 100%;
        background: #719bc4;
        position: relative;
        z-index: 999;
        display: none;
    }
    #check:checked~.navbar ul li:hover ul .dropdown {
        margin: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        display: block;
    }
    #check:checked~.navbar ul li:hover ul .dropdown li {
        top: 100%;
        width: 100%;
        left: 0;
        display: block;
    }
    .content {
        padding: 0 25px;
        width: 100%;
    }
}

